<h1>User Management</h1>

<button mat-flat-button color="primary" [routerLink]="['createuser']">Create New User
</button>

<app-search-box [(value)]="filter"></app-search-box>

<!--
  Columns are almost entirely setup in ts,
  but we allow the use of templates that can be used in the ts via index
 -->
<app-table [url]="url" [displayedColumns]="displayedColumns" [columns]="columns" [filters]="filters()">
  <ng-template let-row>
    <div class="action-buttons">
      <a mat-button [routerLink]="['edituser', row.userID]" matTooltip="Edit User">
        <mat-icon>edit</mat-icon>
        EDIT
      </a>
      <button mat-button 
              (click)="generatePasswordResetLink(row)"
              matTooltip="Generate password reset link for this user"
              [disabled]="!hasInternalLogin(row)">
        <mat-icon>lock_reset</mat-icon>
        RESET PASSWORD
      </button>
    </div>
  </ng-template>
  <ng-template let-row>
    {{row.lockoutEnd | date:'short' }}
  </ng-template>
</app-table>


