<h2>Login</h2>

<form class="example-form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput required [(ngModel)]="model.username" name="username">
    <app-error-message [control]="loginForm.controls['username']" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" required [(ngModel)]="model.password" name="password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <app-error-message [control]="loginForm.controls['password']" />
  </mat-form-field>

  <button mat-flat-button color="primary" [disabled]="!loginForm.form.valid">
    Submit
  </button>
</form>

<div class="space"></div>

<p>Not registered?</p>
<button mat-flat-button color="primary" [routerLink]="['/register']">
  Register
</button>

<div class="space"></div>

<p class="forgot-password-note">
  <mat-icon>info</mat-icon>
  Forgot your password? Contact a system administrator to request a password reset link.
</p>

<h2>External Login Providers:</h2>

<a [href]="(followUp() !== undefined && followUp() !== '') ? '/api/identity/externallogin?followUp=' + followUp() : '/api/identity/externallogin'">
  <mat-card class="ext-login-card">
    <img mat-card-image src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0b5061df29d55a92d945_full_logo_blurple_RGB.svg"
         alt="Discord Logo">
  </mat-card>
</a>

@if (accountService.isLoggedIn()) {
<button mat-flat-button color="primary" (click)="accountService.logout()">
  Logout
</button>
}
