@use "./custom-theme" as theme;

.light-theme {
  @include theme.create-light-theme();
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.app-full-width {
  width: 100%;
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
}
