<mat-form-field>
    <mat-label>Font</mat-label>
    <mat-select [formControl]="font" name="font">
      @for (font of fonts; track font) {
        <mat-option [value]="font">{{font}}</mat-option>
      }
    </mat-select>
</mat-form-field>

<app-palette paletteName="primary"></app-palette>
<app-palette paletteName="secondary"></app-palette>
<app-palette paletteName="tertiary"></app-palette>
<app-palette paletteName="neutral"></app-palette>
<app-palette paletteName="neutral-variant"></app-palette>
<app-palette paletteName="error"></app-palette>