<mat-toolbar class="app-toolbar">
  <button mat-icon-button (click)="snav.toggle()" aria-label="menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button aria-label="grifball icon" [routerLink]="['/']">
    <img src="/assets/grifballLogo.webp" alt="logo" aria-hidden="true" >
  </button>
  <ng-content></ng-content>

  <span class="text-xs">
    <a href="https://github.com/PlayGrifball/GrifballWebApp">
      {{commitDate?.toString() | date:'short'}} {{commitHash}}
    </a>
  </span>

  <button mat-icon-button aria-label="Theme icon" (click)="theme()">
    <mat-icon>palette</mat-icon>
  </button>
  
  @if (accountService.isLoggedIn()) {
  <span>Hello {{accountService.displayName()}}</span>
  <button mat-icon-button aria-label="Profile icon" [routerLink]="['/profile', accountService.personID()]" >
    <mat-icon>account_box</mat-icon>
  </button>
  }
  @else {
  <button mat-icon-button
          aria-label="Login icon"
          [routerLink]="['/login']">
    <mat-icon>login</mat-icon>
  </button>
  }
</mat-toolbar>
