<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>
            <Module>[GrifballWebApp.Database.Migrations]*</Module>
            <Module>[DiscordInterfaceSourceGen]</Module>
            <Module>[DiscordInterfaces]</Module>
          </Exclude>
          <ExcludeByFile>
            <File>**/DiscordInterfaces/*.cs</File>
            <File>**/GrifballWebApp.Database/Migrations/*.cs</File>
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
