<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>
            <Module>[GrifballWebApp.Database.Migrations]*</Module>
			<Module>[DiscordInterfaceSourceGen]</Module>
			<Module>[DiscordInterface.Generated]*</Module>
          </Exclude>
          <ExcludeByFile>
            <File>**/GrifballWebApp.Database/Migrations/*.cs</File>
          </ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
