<mat-grid-list cols="3" rowHeight="40px" style="width: 600px; margin: auto">
  <mat-grid-tile colspan="3"><h1 [routerLink]="['/season', seasonMatch()?.seasonID]">{{seasonMatch()?.seasonName}}</h1></mat-grid-tile>
  <mat-grid-tile [routerLink]="['/season', seasonMatch()?.seasonID, 'team', seasonMatch()?.homeTeamID]">{{seasonMatch()?.homeTeamName}}</mat-grid-tile>
  <mat-grid-tile>vs</mat-grid-tile>
  <mat-grid-tile [routerLink]="['/season', seasonMatch()?.seasonID, 'team', seasonMatch()?.awayTeamID]">{{seasonMatch()?.awayTeamName}}</mat-grid-tile>
  <mat-grid-tile>{{seasonMatch()?.homeTeamScore}}</mat-grid-tile>
  <mat-grid-tile>-</mat-grid-tile>
  <mat-grid-tile>{{seasonMatch()?.awayTeamScore}}</mat-grid-tile>
  <mat-grid-tile>{{seasonMatch()?.homeTeamResult}}</mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>{{seasonMatch()?.awayTeamResult}}</mat-grid-tile>
  <mat-grid-tile colspan="3">Best of {{seasonMatch()?.bestOf}}</mat-grid-tile>
  <mat-grid-tile colspan="3">Scheduled Date: {{ seasonMatch()?.scheduledTime?.toString() | date:'short' }}</mat-grid-tile>
</mat-grid-list>

<h2>Bracket Info</h2>
@if (seasonMatch()?.bracketInfo === null) {
<p>Regular Season Match</p>
} @else {

  @if (seasonMatch()?.bracketInfo?.homeTeamPreviousMatchID === null) {
<div>Home Team Seed {{seasonMatch()?.bracketInfo?.homeTeamSeed}}</div>
  } @else {
<a class="block" [routerLink]="['/seasonmatch', seasonMatch()?.bracketInfo?.homeTeamPreviousMatchID]">Home Team Previous Match</a>
  }

  @if (seasonMatch()?.bracketInfo?.awayTeamPreviousMatchID === null) {
<div>Away Team Seed {{seasonMatch()?.bracketInfo?.awayTeamSeed}}</div>
  } @else {
<a class="block" [routerLink]="['/seasonmatch', seasonMatch()?.bracketInfo?.homeTeamPreviousMatchID]">Away Team Previous Match</a>
  }

  @if (seasonMatch()?.bracketInfo?.winnerNextMatchID === null) {
<div>Winner wins playoffs</div>
  } @else {
<a class="block" [routerLink]="['/seasonmatch', seasonMatch()?.bracketInfo?.winnerNextMatchID]">Winner Next Match</a>
  }

  @if (seasonMatch()?.bracketInfo?.loserNextMatchID === null) {
<div>Loser is eliminated from playoffs</div>
  } @else {
<a class="block" [routerLink]="['/seasonmatch', seasonMatch()?.bracketInfo?.loserNextMatchID]">Loser Next Match</a>
  }
}

<h2>Games Played</h2>

@if (seasonMatch()?.reportedGames?.length === 0) {
<p>There are no reported games for this season match</p>
} @else {

@for (match of seasonMatch()?.reportedGames; track match) {
<p>Game {{match.matchNumber}} - {{match.matchID}}</p>
}
}

<!-- TODO: Can we lock down front end to captain or event organizer only?
  Also this button should be disabled if the match has been completed. 
-->
@if (accountService.isPlayer() || accountService.isEventOrganizer()) {
  <button mat-button [routerLink]="['/reschedule-request', seasonMatchID()]">Reschedule</button>
}

@if (accountService.isEventOrganizer()) {
<h2>Report Game</h2>

@if (seasonMatch()?.homeTeamResult !== 'TBD' || seasonMatch()?.awayTeamResult !== 'TBD') {
<p>This match has been completed.</p>
} @else {
<h3>Forfeit</h3>

<button mat-button (click)="homeForfeit()" [disabled]="isSubmittingMatch() || !accountService.isEventOrganizer()">Home Team Forfeit</button>

<button mat-button (click)="awayForfeit()" [disabled]="isSubmittingMatch() || !accountService.isEventOrganizer()">Away Team Forfeit</button>

<h3>Enter Match ID</h3>

<form class="app-form" #reportMatchForm="ngForm" (ngSubmit)="onSubmit(matchID)">
  <mat-form-field class="app-full-width">
    <mat-label>MatchID</mat-label>
    <input matInput required [(ngModel)]="matchID" name="MatchID" [regexExpression]="regex" [errorMessage]="regexErrorMessage">
    <app-error-message [control]="reportMatchForm.controls['MatchID']" />
  </mat-form-field>

  <button mat-flat-button color="primary" [disabled]="!reportMatchForm.form.valid || isSubmittingMatch() || !accountService.isEventOrganizer()">
    Submit
  </button>
</form>
}

<h3>Possible Matches</h3>

@for (match of possibleMatches(); track match.matchID) {
<mat-card style="margin: 6px">
  <mat-card-header>
    <mat-card-title>{{match.matchID}}: {{match.homeTeam.score}} - {{match.awayTeam.score}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="max-width: 50%; display: inline-block; margin: 6px">
      <table mat-table [dataSource]="match.homeTeam.players" class="mat-elevation-z8">
        @for (column of columns; track column) {
        <ng-container [matColumnDef]="column.columnDef">
          <th mat-header-cell *matHeaderCellDef>
            {{column.header}}
          </th>
          <td mat-cell *matCellDef="let row">
            {{column.cell(row)}}
          </td>
        </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div style="max-width: 50%; display: inline-block; margin: 6px">
      <table mat-table [dataSource]="match.awayTeam.players" class="mat-elevation-z8">
        @for (column of columns; track column) {
        <ng-container [matColumnDef]="column.columnDef">
          <th mat-header-cell *matHeaderCellDef>
            {{column.header}}
          </th>
          <td mat-cell *matCellDef="let row">
            {{column.cell(row)}}
          </td>
        </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>

  @if (accountService.isEventOrganizer()) {
  <mat-card-actions>
    <button mat-button (click)="onSubmit(match.matchID)" [disabled]="isSubmittingMatch() || !accountService.isEventOrganizer()">SUBMIT</button>
    <!--<button mat-button [routerLink]="['/match', match?.matchID]">FULL DETAILS</button>-->
  </mat-card-actions>
  }
</mat-card>
}
}
