<h2>Season Edit</h2>

<form class="app-form" #seasonForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="app-full-width">
    <mat-label>seasonName</mat-label>
    <input matInput required [(ngModel)]="model.seasonName" name="seasonName">
    <app-error-message [control]="seasonForm.controls['seasonName']" />
  </mat-form-field>

  <mat-form-field class="app-full-width">
    <mat-label>signupsOpen</mat-label>
    <input matInput [mtxDatetimepicker]="datetimePicker1" [(ngModel)]="model.signupsOpen" required name="signupsOpen">
    <mtx-datetimepicker-toggle [for]="datetimePicker1" matSuffix></mtx-datetimepicker-toggle>
    <mtx-datetimepicker #datetimePicker1 [timeInput]="true" [twelvehour]="true" type="datetime"></mtx-datetimepicker>
    <app-error-message [control]="seasonForm.controls['signupsOpen']" />
  </mat-form-field>

  <mat-form-field class="app-full-width">
    <mat-label>signupsClose</mat-label>
    <input matInput [mtxDatetimepicker]="datetimePicker2" [(ngModel)]="model.signupsClose" required name="signupsClose">
    <mtx-datetimepicker-toggle [for]="datetimePicker2" matSuffix></mtx-datetimepicker-toggle>
    <mtx-datetimepicker #datetimePicker2 [timeInput]="true" [twelvehour]="true" type="datetime"></mtx-datetimepicker>
    <app-error-message [control]="seasonForm.controls['signupsClose']" />
  </mat-form-field>

  <mat-form-field class="app-full-width">
    <mat-label>draftStart</mat-label>
    <input matInput [mtxDatetimepicker]="datetimePicker3" [(ngModel)]="model.draftStart" required name="draftStart">
    <mtx-datetimepicker-toggle [for]="datetimePicker3" matSuffix></mtx-datetimepicker-toggle>
    <mtx-datetimepicker #datetimePicker3 [timeInput]="true" [twelvehour]="true" type="datetime"></mtx-datetimepicker>
    <app-error-message [control]="seasonForm.controls['draftStart']" />
  </mat-form-field>

  <mat-form-field class="app-full-width">
    <mat-label>seasonStart</mat-label>
    <input matInput [mtxDatetimepicker]="datetimePicker4" [(ngModel)]="model.seasonStart" required name="seasonStart">
    <mtx-datetimepicker-toggle [for]="datetimePicker4" matSuffix></mtx-datetimepicker-toggle>
    <mtx-datetimepicker #datetimePicker4 [timeInput]="true" [twelvehour]="true" type="datetime"></mtx-datetimepicker>
    <app-error-message [control]="seasonForm.controls['seasonStart']" />
  </mat-form-field>

  <mat-form-field class="app-full-width">
    <mat-label>seasonEnd</mat-label>
    <input matInput [mtxDatetimepicker]="datetimePicker5" [(ngModel)]="model.seasonEnd" required name="seasonEnd">
    <mtx-datetimepicker-toggle [for]="datetimePicker5" matSuffix></mtx-datetimepicker-toggle>
    <mtx-datetimepicker #datetimePicker5 [timeInput]="true" [twelvehour]="true" type="datetime"></mtx-datetimepicker>
    <app-error-message [control]="seasonForm.controls['seasonEnd']" />
  </mat-form-field>

  <mat-form-field class="app-full-width">
    <mat-label>Copy From</mat-label>
    <input matInput [(ngModel)]="model.copyFrom" name="copyFrom">
    <app-error-message [control]="seasonForm.controls['copyFrom']" />
  </mat-form-field>

  @if (model.copyFrom != null) {
  <mat-checkbox [(ngModel)]="model.copyAvailability" name="copyAvailability">Copy Availability</mat-checkbox>
  <mat-checkbox [(ngModel)]="model.copySignups" name="copySignups">Copy Signups</mat-checkbox>
  <mat-checkbox [(ngModel)]="model.copyTeams" name="copyTeams">Copy Teams</mat-checkbox>
  }

  <button mat-flat-button color="primary" [disabled]="!seasonForm.form.valid">
    {{model.seasonID > 0 ? 'Save Season' : 'Create New Season'}}
  </button>
</form>

@if (model.seasonID > 0) {
<button mat-flat-button color="primary" [routerLink]="['/seasonAvailability', model.seasonID]">
  Edit Availability
</button>
}
