<form #form="ngForm">
  <h3>Bulk Modify</h3>
  <mat-form-field>
    <mat-label>Frequency in minutes</mat-label>
    <input matInput [(ngModel)]="minutes" required name="minutes" type="number" pattern="^[0-9]+([0-9]{0,0})?$">
  </mat-form-field>

  <mat-form-field>
    <mat-label>From</mat-label>
    <input matInput [mtxDatetimepicker]="datetimePicker1" [(ngModel)]="start" required name="start">
    <mtx-datetimepicker-toggle [for]="datetimePicker1" matSuffix></mtx-datetimepicker-toggle>
    <mtx-datetimepicker #datetimePicker1 [twelvehour]="true" type="time"></mtx-datetimepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>To</mat-label>
    <input matInput [mtxDatetimepicker]="datetimePicker2" [(ngModel)]="end" required name="end">
    <mtx-datetimepicker-toggle [for]="datetimePicker2" matSuffix></mtx-datetimepicker-toggle>
    <mtx-datetimepicker #datetimePicker2 [twelvehour]="true" type="time"></mtx-datetimepicker>
  </mat-form-field>

  <label>On the following days:</label>
  @for (checkbox of checkboxes; track checkbox) {
  <mat-checkbox [(ngModel)]="checkbox.isChecked" [name]="checkbox.name + 'checkbox'">{{checkbox.name}}</mat-checkbox>
  }

  <button mat-raised-button (click)="bulkModify()" [disabled]="!form.valid">Bulk Modify</button>
</form>

<form #form2="ngForm">
  <button mat-raised-button (click)="saveChanges()" [disabled]="!form2.valid">Save Changes</button>

  @for (option of options; track option) {
  <div>
    <mat-form-field>
      <input matInput [mtxDatetimepicker]="datetimePicker3" [(ngModel)]="option.time" required [name]="'picker' + $index">
      <mtx-datetimepicker-toggle [for]="datetimePicker3" matSuffix></mtx-datetimepicker-toggle>
      <mtx-datetimepicker #datetimePicker3 [twelvehour]="true" type="time"></mtx-datetimepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(value)]="option.dayOfWeek">
        @for (dayOfWeek of daysOfWeek(); track dayOfWeek) {
        <mat-option [value]="dayOfWeek">{{dayOfWeek}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  }
</form>
