<div class="app-container" [class.app-is-mobile]="mobileQuery.matches" >

  <app-toolbar [snav]="snav"></app-toolbar>

  <mat-sidenav-container class="app-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0" >

    <mat-sidenav #snav fixedTopGap="56"
    [fixedInViewport]="mobileQuery.matches" [mode]="'over'" >
      <!--<mat-nav-list>
        @for (nav of navLinks; track nav.path)
        <div [style.visibility]="[navLinks.at($index)?.show()] ? 'visible' : 'hidden'">
          <a mat-list-item [routerLink]="[navLinks.at($index)?.path]" [style.visibility]="[navLinks.at($index)?.show()] ? 'visible' : 'hidden'"
             (click)="snav.toggle(false)">{{nav.title}} {{nav.show()}}</a>
        </div>
        }
      </mat-nav-list>-->
      <mat-nav-list *ngFor="let nav of navLinks; index as index;">
        <a mat-list-item [routerLink]="nav.path" [style.visibility]="nav.show() ? 'visible' : 'hidden'"
           (click)="snav.toggle(false)">{{nav.title}}</a>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content class="bg-gradient-to-br from-primary-10 to-error-10">
      <section>
        <router-outlet></router-outlet>
      </section>
    </mat-sidenav-content>
    
  </mat-sidenav-container>

</div>
