<div class="app-container" [class.app-is-mobile]="mobileQuery.matches" >

  <app-toolbar [snav]="snav"></app-toolbar>

  <mat-sidenav-container class="app-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0" >

    <mat-sidenav #snav fixedTopGap="56"
    [fixedInViewport]="mobileQuery.matches" [mode]="'over'" >
      @for (nav of navLinks; track nav) {
        @if (nav.show()) {
          <mat-nav-list>
              <a mat-list-item [routerLink]="nav.path" (click)="snav.toggle(false)">
                {{nav.title}}
              </a>
          </mat-nav-list>
        }
      }
      
    </mat-sidenav>
    
    <mat-sidenav-content class="bg-gradient-to-r from-secondary-10 to-tertiary-10 p-4">
      <section>
        <router-outlet></router-outlet>
      </section>
    </mat-sidenav-content>
    
  </mat-sidenav-container>

</div>
