//One option is to import css in css
@import 'https://cdn.jsdelivr.net/npm/brackets-viewer@1.6.2/dist/brackets-viewer.min.css';

//Then apply global css but only to host context. But ng-deep is deprecated
/*:host ::ng-deep .name.bye {
  font-style: italic;
  color: var(--hint-color);
}

:host ::ng-deep h1 {
  display: none;
}

:host ::ng-deep h2 {
  margin-top: 30px !important;
  margin-bottom: 40px !important;
  font-size: 2em !important;
  color: black !important;
}

:host ::ng-deep h3 {
  display: none;
}*/


// Another option is to set encapsulation: ViewEncapsulation.None in ts file.
// Include link to the external css in html
// Then do overrides like below so css is not encapsulated yet still contained to only this component
/*app-playoff-bracket {
  .name.bye {
    font-style: italic;
    color: var(--hint-color);
  }

  h1 {
    display: none;
  }

  h2 {
    margin-top: 30px !important;
    margin-bottom: 40px !important;
    font-size: 2em !important;
    color: black !important;
  }

  h3 {
    display: none;
  }
}*/

// TODO: setup better with theming light/dark
.brackets-viewer {
  --font-color: #ffffff;
  --primary-background: none; // Background of entire div
  --secondary-background: #333333; // Match hover color (overriden below) / round header
  --match-background: #444444;
  //--label-color: #000dc9; // Not sure
  //--hint-color: #b4b4b4; // Seed numbers and previous match hint
  --connector-color: #fff;
  --border-color: #868686;
  --border-hover-color: var(--primary);
  //--border-selected-color: #48e200; // Not sure
}

::ng-deep .brackets-viewer .participant:hover {
  background-color: var(--primary-50) !important; // Override secondary-background so hover color does not need to match the round header
  cursor: pointer;
}
