<h2>Season Signup</h2>

<form class="app-form" #signupForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-checkbox [(ngModel)]="model.willCaptain" name="willCaptain">
        Willing to captain
  </mat-checkbox>
  <app-error-message [control]="signupForm.controls['willCaptain']" />

  <mat-form-field class="app-full-width">
    <mat-label>teamName</mat-label>
    <input matInput required [(ngModel)]="model.teamName" name="teamName" [disabled]="!model.willCaptain" >
    <app-error-message [control]="signupForm.controls['teamName']" />
  </mat-form-field>

  <mat-checkbox [(ngModel)]="model.requiresAssistanceDrafting" name="requiresAssistanceDrafting" [disabled]="!model.willCaptain" >
    I Require Assistance Drafting
  </mat-checkbox>
  <app-error-message [control]="signupForm.controls['requiresAssistanceDrafting']" />

  <br>

  <button mat-flat-button color="primary" [disabled]="!signupForm.form.valid">
    Submit
  </button>
</form>


<table mat-table [dataSource]="dtos" class="mat-elevation-z8">
  @for (time of timeColumns; track time) {
  <ng-container [matColumnDef]="time">
    <th mat-header-cell *matHeaderCellDef (click)="timeClicked(time)">
      {{time}}
    </th>
    <td mat-cell *matCellDef="let row">
      <ng-container *ngIf="getCell(time, row) as cell">
        @if (cell.isHeader) {
        <div (click)="dayOfWeekClicked(cell.time, row)">
          {{ cell.time }}
        </div>
        }
        @else {
        <mat-checkbox [(ngModel)]="cell.isChecked" [disabled]="cell.isDisabled">
        </mat-checkbox>
        }
      </ng-container>
    </td>
  </ng-container>
  }
  <tr mat-header-row *matHeaderRowDef="timeColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: timeColumns;"></tr>
</table>
